h1{
  text-decoration: underline;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: max-content;

  box-sizing: content-box;
}

/* Style the navigation links */

.main_menu{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 70vh;
    background-color: #313236;
    margin-left: 5%;
    margin-right: 5%;
}   

.left_side{
    background-color: #313236;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}


.right_side{
    /* grid-row: 0;
    grid-column-start: 2;
    grid-column-end: 11; */
    background-color: #313236;
    height: 100%;
    box-sizing: border-box;
    transition: background-color 0.1s ease;
}

.right_side div{
  height: 100%;
  overflow-y: scroll;
}

.right_side.active {
    background-color: grey;
}

.tabcontent{
  display: none;
}



#myMenu button {
  display: block;
  background-color: #313236;
  color: beige;
  padding: 1% 1%;
  height:20%;
  width: 100%;
  padding: 2%;

  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
  font-size: 200%; 

}
#myMenu button img{
  vertical-align: middle;
}
#myMenu li{
  height: auto;

}

#myMenu button:hover {
  background-color: grey;
} 

.tablinks.active {
  background-color: grey !important;
}
