
.experiences{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.experiences:first-child{
  text-decoration: underline;
  color: blue;
}

.panel{
    margin-left: 0.1%;
    margin-right: 0.1%;
}

.accordion {
  background-color: #313236;
  color: beige;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active{
  background-color: green;
}

.accordion:hover {
  background-color: darkgreen;
}

.accordion:after {
  content: '\2227';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
    content: "\2228";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.date{
    font-weight: bold;
}

.div_image{
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ld img{
  margin-top: 1%;
}

