.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #2f3033;
  color: beige;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

/* Modale */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 25px;
  max-width: 500px;
  border-radius: 10px;
}

.modal-content {
  display: none;
}