.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #2f3033;
  color: beige;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

/* Modale */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 25px;
  max-width: 500px;
  border-radius: 10px;
}

.modal-content {
  display: none;
}

.filters {
  margin: 20px;
  display: flex;
  gap: 10px;
}

.filters button {
  background-color: #313236;
  color: beige;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.filters button:hover {
  background-color: darkgreen;
}

.filters button.active{
  background-color: green;
}

.portfolio{
  margin-left: 1%;
  margin-right: 1%;
}

#titre{
    margin-left: 5%;
    text-decoration: underline;
    font-weight: bolder;
}

p{
  text-align: justify;
}